<!DOCTYPE html>
<!-- directives	 = extra information to the html you must add the ng-app attribute to the body-->
<html ng-app>
<head>
	<title></title>
	<script type="text/javascript" src="angular.min.js"></script>
</head>
<body>
	<input type="text" ng-model="x"> 
	<!-- this will bind x -->	
	<br>
	<br>
	{{x}}

</body>
</html>