<!DOCTYPE html>
<!-- directives	 = extra information to the html you must add the ng-app attribute to the body-->
<html ng-app="SimpleRecordExample">    <!-- this directive has a value used for rhe creation of controllers-->
<head>
	<title></title>
	<script type="text/javascript" src="angular.min.js"></script>
	<script>
        app1 = angular.module("SimpleRecordExample", []);
        
        app1.controller("newController", function($scope)
                                        {
                                            $scope.field = 'regNo';
                                            $scope.choice = false;
            
                                            $scope.Records = [
                                                {regNo:171, name:"Peter"},
                                                {regNo:112, name:"Smith"},
                                                {regNo:143, name:"Phil"},
                                                {regNo:123, name:"Hakima"}
                                            ];
                                        }
                        );
        
    </script>
</head>
<body>
   
   <h2>This is my sweet table </h2>
    
    <div ng-controller="newController">
        <table >
            <tr>
                <td ng-click="field='regNo'; choice = !choice"> ID</td> 
                <td ng-click="field='name'; choice = !choice"> Name</td>
            </tr>
            
            <tr ng-repeat="Recs in Records | orderBy:'regNo':choice">
                <td>{{Recs.regNo}}</td> <td>{{Recs.name}}</td>                
            </tr>
                
        </table>
    </div>

</body>
</html>