<!DOCTYPE html>
<!-- directives	 = extra information to the html you must add the ng-app attribute to the body-->
<html ng-app="SecondApp">    <!-- this directive has a value used for rhe creation of controllers-->
<head>
	<title></title>
	<script type="text/javascript" src="angular.min.js"></script>
	<script>
        app2 =  angular.module("SecondApp", []);
        
        app2.controller("ctrl2", function($scope)
                            {
            $scope.phy = 72; 
            $scope.chem =43; 
            $scope.showResult = function()
                                {
                                    $scope.result =$scope.phy + $scope.chem; 
                                };
            
                            }
                        );   
    </script>
</head>
<body>
    
    <div ng-controller="ctrl2">
        {{showResult()}}
        {{result}}
    </div>

</body>
</html>