<!DOCTYPE html>
<!-- directives	 = extra information to the html you must add the ng-app attribute to the body-->
<html ng-app="AdditionExample">    <!-- this directive has a value used for rhe creation of controllers-->
<head>
	<title></title>
	<script type="text/javascript" src="angular.min.js"></script>
	<script>
        app1 = angular.module("AdditionExample", []);
        
        app1.controller("control2", function($scope)
                        {
                            $scope.Addition = function(A,B)
                                              {
                                                return "Result is: " + (A+B);
                                              };
                            
                        }
        );
        
    </script>
</head>
<body>
    
    <div ng-controller="control2">
       
        {{Addition(34,56)}}
        
    </div>

</body>
</html>