<!DOCTYPE html>
<!-- directives	 = extra information to the html you must add the ng-app attribute to the body-->
<html ng-app="FirstApp">    <!-- this directive has a value used for rhe creation of controllers-->
<head>
	<title></title>
	<script type="text/javascript" src="angular.min.js"></script>
	<script>
        /* 
            we muct add the controller to the application.
            in every application there is only one module
            
            Dependancy-Injectioon - in the function we can request dependancies eg: $scope $http
            '$scope' is the refenece of the view model
        */
 
        var app1 = angular.module("FirstApp", []);
        app1.controller("ctrl1",function($scope)
                                {  
                                    $scope.A = 15;
                                    $scope.B = 30; 
                                }
                       );
      </script>
</head>
<body>
    
    <div ng-controller="ctrl1">
        {{A}}, {{B}}
    </div>

</body>
</html>