<!DOCTYPE html>
<!-- directives	 = extra information to the html you must add the ng-app attribute to the body-->
<html ng-app>
<head>
	<title></title>
	<script type="text/javascript" src="angular.min.js"></script>
</head>
<body>

<input type="text" name="A" 
ng-focus="data='got the focus'"
ng-blur="data='focus gone'"
ng-keypress="data='youhave pressed the key'"
ng-copy="data='you are copying'"
ng-cut="data='you are cutting'"
ng-paste="data='you have pasted some thing'"
/>

<input type='text'> 
<br>
<br>
<button ng-mouseover="data='mouse pointer is over button now'"
ng-mouseleave="data='mouse pointer has left button now'"
ng-dblclick="data='mouse double click'"

/> 
Clicking me </button>
<br><br><br><br><br>
<span> {{data}}<span>

</body>
</html>

