<!DOCTYPE html>
<!-- directives	 = extra information to the html you must add the ng-app attribute to the body-->
<html ng-app>
<head>
	<title></title>
	<script type="text/javascript" src="angular.min.js"></script>
</head>
<style>
    .ng-dirty>input
    {
        background-color: aquamarine;
    }
    
    
</style>

<body>

<form name="Frm1">
    
    Name:<input name="name" ng-model='nt' ng-minlength='5' ng-maxlength=10></br>
    Email:<input name="email" type="email" ng-model="E"><br>
    Post Code:<input type="text"><br>
    <input type="button" value="Click" ng-show="Frm1.$valid">
    <input type="button" value="Click2" ng-disabled="Frm1.$invalid">
    <input type="button" value="Click3" ng-disabled="Frm1.name.$invalid && Frm1.email.invalid">

    <span ng-show="Frm1.$invalid"> <h2>Please enter a proper name</h2></span>
</form>


</body>
</html>