Body
{
    margin: auto auto auto auto;
    background-color: darkseagreen;
}

header
{
    margin-top: 15px;

    padding: 50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    color: azure;
    font-family: "verdana";
    text-transform: uppercase;
    top: 50%;
    bottom: auto;
    text-align: center;
    font-size: 70px;
    vertical-align: middle; 
    margin-left: auto;
    margin-right: auto;
}

ul
{
    width: 80%;
    margin: auto auto;
    text-align: center;
}

li
{
    width: 120px;
    padding: 10px;
    background-color: aquamarine;
    text-decoration: none;
    display: inline-block;
}

.test 
{
    background-color: darkcyan;
}

.siteContents 
{
    width: 80%;
    background-color: beige; 
    margin-left: auto;
    margin-right: auto;
    
    background-size: cover;
    height: 500px;
}
