<!DOCTYPE html>
<!-- directives	 = extra information to the html you must add the ng-app attribute to the body-->
<html ng-app>
<head>
	<title></title>
	<script type="text/javascript" src="angular.min.js"></script>
</head>
<body>
	<div ng-init="records = [

	{emplyNo:58, name:'peter'},
	{emplyNo:53, name:'Sara'},
	{emplyNo:52, name:'Zara'},
	{emplyNo:54, name:'Frank'}

	]; what=false; field='emplyNo'">
	
    <h2>This is a table about Staff at BF</h2>
	<h4>This is a great clickable table</h4>

    <img src="http://lorempixel.com/400/200/" alt="">

	<table>
		<tr>
			<td ng-click="field='emplyNo'; what= !what">Employee ID</td> 
			<td ng-click="field='name
			'; what= !what">Employee Name</td>
		</tr>
		<tr ng-repeat = "Rec in records| orderBy:field:what">
			<td>{{Rec.emplyNo}}</td>
			<td>{{Rec.name}}</td>
		</tr>

	</table>
	
	</div>
</body>
</html>