<!DOCTYPE html>
<!-- directives	 = extra information to the html you must add the ng-app attribute to the body-->
<html ng-app>
<head>
	<title></title>
	<script type="text/javascript" src="angular.min.js"></script>
</head>
<body>
	
	<div ng-init="what='false'; movies = ['Boure Identity', 'Mission impossible', 'Shadow', 'Spark', 'Iron Man', 'Bond']">
		
		<table border="1">
	
			<tr><td> Movies </td><td> Movies 2 </td></tr>
			
			<!-- In general Angular is case sensitive -->
			<tr ng-repeat="m in movies | orderBy:m:what">
				<td>{{m | uppercase}}</td>
				<td>{{m | lowercase}}</td>
				<!-- the | is a filter -->
			</tr >
		</table>
	
	</div>

</body>
</html>