<!DOCTYPE html>
<!-- directives	 = extra information to the html you must add the ng-app attribute to the body-->
<html ng-app>
<head>
	<title></title>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="angular-test1.js"></script>
</head>
<body>
	<p>
		<Input type="text" ng-model="someText">
		<H1>{{someText}}</H1>
	</p>
</body>
</html>