<!DOCTYPE html>
<!-- directives	 = extra information to the html you must add the ng-app attribute to the body-->
<html ng-app>
<head>
	<title></title>
	<script type="text/javascript" src="angular.min.js"></script>
</head>
<body>
	
	<div ng-init="movies = ['Boure Identity', 'Mission impossible', 'Shadow', 'Spark', 'Iron Man', 'Bond']">
		
		<table border="1">
	
			<tr><td> Movies </td></tr>
	
			<tr ng-repeat="m in movies">
				<td>{{m}}</td>
			</tr>
	
		</table>
	
	</div>

</body>
</html>